<nav id="navbar">
  <div class="navbar__logo">
    <a href="/"><img src="/images/soomgo_logo.png" alt="" /></a>
  </div>
  <div class="navbar__menu">
    <ul class="navbar__menu">
      <li class="navbar__menu__item"><a href="/signin" class="signin">고수가입</a></li>
      <li class="navbar__menu__item"><a href="/signin" class="signin">회원가입</a></li>
      <li class="navbar__menu__item"><a href="/search/pro" class="find">고수찾기</a></li>
      <li class="navbar__menu__item"><a href="/login" class="login">로그인</a></li>
    </ul>
  </div>
</nav>

