<html>
    <head>

    </head>
    <body>
        <p id="test"></p>
    </body>
    <script>
        fetch('http://localhost:3000/users')
        .then(res => res.text())
        .then(data => {
            document.getElementById("test").innerHTML = data;
        })
    </script>
</html>