<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/stylesheets/request-style.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
        <script src="https://kit.fontawesome.com/fbaf558954.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="headline">
            <img src="https://static.cdn.soomgo.com/static/img/home/index_soomgo_logo.svg" alt="숨고">
            <div class="left-nav">
                <div class="left-container">
                    <a class="left-1" href="./requests/sent">보낸요청</a>
                    <li class="left-2">채팅 <i class="chat-badge">5</i></li>
                    <li class="left-3">고수 찾기</li>
                </div>
            </div>
            <div class="search-box">
                <span class="search-icon"><i class="fas fa-search"></i></span>
                <input type="search" class="search-service" placeholder="서비스를 검색해보세요">
            </div>
            <div class="right-nav">
                <div class="right-nav-container">
                    <div class="bell-icon">
                        <i class="far fa-bell"></i>
                        <i class="bell-badge">10</i>
                    </div>
                    <div class="profile-icon"><i class="far fa-user-circle"></i></div>
                    <div class="user-name">이동명 고객님 <i class="fas fa-caret-down"></i></div>
                </div>
            </div>
        </div>
        <div id="app-body">
            <div class="app-download-sender">
                <p class="title-description">새로워진 숨고 앱으로</p>
                <h1>더욱 편리하게 거래하세요</h1>
                <div class="input-container">
                    <input type="text" placeholder="휴대폰 번호를 입력해주세요" maxlength="13" id="form-control"/>
                </div>
            </div>
        </div>
    <script>history.scrollRestoration = "manual"</script>
    </body>
    
</html>